// .eslintignore
build/*
dist/*
public/*
**/out/*
**/node_modules/*

**/.next/*
next.config.js

vite.config.js
vite.config.ts

app/reportWebVitals.js
app/service-worker.js
app/serviceWorkerRegistration.js
app/setupTests.js

app/reportWebVitals.ts
app/service-worker.ts
app/serviceWorkerRegistration.ts
app/setupTests.ts


app/components/ui