// .eslintignore
build/*
dist/*
public/*
**/out/*
**/node_modules/*

**/.next/*
next.config.js

vite.config.js
vite.config.ts
tailwind.config.js
tailwind.config.ts




components/ui/*



# Next.js build output
.next

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage directory used by tools like istanbul
coverage

# IDE / Editors
.idea
.vscode
*.swp
*.swo

# Operating System Files
Thumbs.db

